<template name="navBar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if showBackButton}}
          <div class="back-button">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </div>
        {{else}}
          <a class="navbar-brand" href="#">UX20</a>
        {{/if}}
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li>{{#linkTo route='categories'}}New Search{{/linkTo}}</li>
            <li>{{#linkTo route='mySearches'}}My Searches{{/linkTo}}</li>
            <li>{{#linkTo route="logout"}}Sign Out{{/linkTo}}</li>
          {{else}}
            <li><a href="#">Sign In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
